<h1> Player Stats for <%= foundPlayer.name %> </h1> <br> 
Catches: <%= foundPlayer.Catches %> <br> 
Goals: <%= foundPlayer.Goals %> <br> 
Assists: <%= foundPlayer.Assisists %> <br> 
Defensive Plays: <%= foundPlayer.Defensive_plays %> <br> 
Points Played: <%= foundPlayer.Points_played %> <br> 
Defensive Effectiveness: <%=foundPlayer.Defensive_plays/foundPlayer.Points_played %> <br> 
Catches per point <%= foundPlayer.Catches /foundPlayer.Points_played %> <br> 